
<style>
  #formBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: #000;
  }

  #formForm {
    margin: 20px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
  }
</style>

<!-- Анкета -->
<div ng-controller="formCtrl" ng-show="formCtrlShow">

  <div id="formBackground">
  </div>

  <div class="container" id="formForm">
  </div>

</div>
<!-- /анкета -->