<!-- Главная -->
<div ng-controller="mainCtrl" ng-show="mainCtrlShow">
  <!-- Выданные займы и Платежи -->
  <div class="row">
    <div id="lastCredits" class="col-md-6">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Дата займа</th>
            <th>Сумма к оплате</th>
            <th>Клиент</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in lastCredits">
            <td>{{row.DATA_ZAYMA | date:'dd.MM.yyyy'}}</td>
            <td>{{row.SUMMA_K_OPLATE | currency}}</td>
            <td>{{row.FIO}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="lastPayments" class="col-md-6">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Дата платежа</th>
            <th>Сумма платежа</th>
            <th>Клиент</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in lastPayments">
            <td>{{row.DATA_PLATEJA | date:'dd.MM.yyyy'}}</td>
            <td>{{row.SUMMA_PLATEJA | currency}}</td>
            <td>{{row.FIO}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <!-- /выданные займы и платежи -->
  <!-- Сегодняшние займы и органайзер -->
  <div class="row">

    <div id="currentCredits" class="col-md-6">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Статус</th>
            <th>Сумма займа</th>
            <th>Клиент</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in currentCredits">
            <td>{{row.STATUS_NAME}}</td>
            <td>{{row.SUMMA_ZAYMA | currency}}</td>
            <td>{{row.FIO}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="currentOrg" class="col-md-6">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Статус</th>
            <th>Дата начала</th>
            <th>Событие</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in currentOrg">
            <td>{{row.STAT_ORG_NAME}}</td>
            <td>{{row.D_BEG | date:'dd.MM.yyyy'}}</td>
            <td>{{row.MSG}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <!-- /сегодняшние займы и органайзер -->

</div>
<!-- /главная -->


